* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    color: darkblue;
}

nav {
    border-bottom: 2px solid darkblue;
}

.crumb {
    margin-right: 2em;
    display: inline;
}

a {
    color: cyan;
}

a:visited {
    color: darkorchid;
}